<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/Admin/style.css">
</head>
<body>
  <%- include('../partials/header') %>
  
  <h1>Admin Dashboard</h1>

  <% if (typeof users !== "undefined") { %>
    <h2>User List</h2>
    <ul>
      <% users.forEach(user => { %>
        <li><%= user.name %> - <%= user.email %></li>
      <% }) %>
    </ul>
  <% } %>

  <%- include('../partials/footer') %>
</body>
</html>
